<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.qa.reporting.ListenersTestClass"></listener>
	</listeners>
  <test  name="testcase1">
    <classes>
      <class name="com.qa.TestScripts.SeleniumScriptInTestNG"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
